html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
}

body{
  color: white;
  overflow-x: hidden;
  margin: 0;
}

section{
  /* scroll-snap-align: center; */
  background-color: #CCC5B9;
  /* height: 100vh; */
  width: 100%;
}

h1, h2, h3{
  font-family: 'Roboto SLab';
}

p{
  font-family: 'Roboto Mono';
  font-size: 17px;
}